USE [master]
GO
/****** Object:  Database [BD ICR]    Script Date: 29/8/2025 14:31:15 ******/
CREATE DATABASE [BD ICR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD ICR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD ICR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD ICR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD ICR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD ICR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD ICR]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[DNI_ALUMNO] [char](8) NOT NULL,
	[NOMBRE_ALUMNO] [varchar](50) NULL,
	[APELLIDO_ALUMNO] [varchar](50) NULL,
	[ESTADO_ALUMNO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_ALUMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALUMNOxCUR]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNOxCUR](
	[ID_ALUMxCUR] [varchar](3) NOT NULL,
	[DNI_ALUMNO] [char](8) NULL,
	[ID_CURSO] [varchar](2) NULL,
	[PERIODO_TRIMESTRE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ALUMxCUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALUMxMAT]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMxMAT](
	[IDalumxMat] [varchar](3) NOT NULL,
	[DNI_ALUMNO] [char](8) NULL,
	[ID_MATERIA] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDalumxMat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso](
	[ID_CURSO] [varchar](2) NOT NULL,
	[NOMBRE] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CURSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURxMAT]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURxMAT](
	[IDcXm] [varchar](2) NOT NULL,
	[ID_CURSO] [varchar](2) NULL,
	[ID_MATERIA] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDcXm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[ID_MATERIA] [varchar](2) NOT NULL,
	[NOMBRE_MATERIA] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MATERIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor](
	[DNI_PROFESOR] [varchar](8) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_PROFESOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFxCURxMAT]    Script Date: 29/8/2025 14:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFxCURxMAT](
	[IDPxCxM] [varchar](3) NOT NULL,
	[DNI_PROFESOR] [varchar](8) NULL,
	[IDcXm] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPxCxM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALUMNOxCUR]  WITH CHECK ADD FOREIGN KEY([DNI_ALUMNO])
REFERENCES [dbo].[Alumno] ([DNI_ALUMNO])
GO
ALTER TABLE [dbo].[ALUMNOxCUR]  WITH CHECK ADD FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[curso] ([ID_CURSO])
GO
ALTER TABLE [dbo].[ALUMxMAT]  WITH CHECK ADD FOREIGN KEY([DNI_ALUMNO])
REFERENCES [dbo].[Alumno] ([DNI_ALUMNO])
GO
ALTER TABLE [dbo].[ALUMxMAT]  WITH CHECK ADD FOREIGN KEY([ID_MATERIA])
REFERENCES [dbo].[Materia] ([ID_MATERIA])
GO
ALTER TABLE [dbo].[CURxMAT]  WITH CHECK ADD FOREIGN KEY([ID_CURSO])
REFERENCES [dbo].[curso] ([ID_CURSO])
GO
ALTER TABLE [dbo].[CURxMAT]  WITH CHECK ADD FOREIGN KEY([ID_MATERIA])
REFERENCES [dbo].[Materia] ([ID_MATERIA])
GO
ALTER TABLE [dbo].[PROFxCURxMAT]  WITH CHECK ADD FOREIGN KEY([DNI_PROFESOR])
REFERENCES [dbo].[Profesor] ([DNI_PROFESOR])
GO
ALTER TABLE [dbo].[PROFxCURxMAT]  WITH CHECK ADD FOREIGN KEY([IDcXm])
REFERENCES [dbo].[CURxMAT] ([IDcXm])
GO
USE [master]
GO
